div {
	width: var(--footer-h);
	height: var(--footer-h);
	display: block;
	position: fixed;
	bottom: calc(var(--footer-h) + var(--base-padding));
	right: var(--base-padding);
	cursor: pointer;
	background-color: var(--color-black-middle);
	opacity: 0.8;
}

div:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(135deg);
	width: 0;
	height: 0;
	border: solid var(--color-white-lightest);
	border-width: 0 calc(var(--chevron-dim)*1.5) calc(var(--chevron-dim)*1.5) 0;
	padding: var(--chevron-dim);
}

p {
	text-transform: uppercase;
	color: var(--color-white-lightest);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0%, -50%);
	font-size: 0.75rem;
}