div {
	width: 100%;
	height: auto;
	padding: calc(var(--base-padding) * 0.75) var(--base-padding);
	transition: background-color var(--menu-slide-time) ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

h4 {
	font-weight: 400;
	color: var(--color-black-dark);
}

a:hover {
	letter-spacing: 0px;
	text-decoration: none;
}

a > div {
	background-color: var(--color-white-lightish);
}

a:hover > div {
	background-color: var(--color-white-light);
}

a:hover span {
	margin-right: 0rem;
}

span {	content: '';
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid var(--color-black-dark);
	border-width: 0 calc(var(--chevron-dim) * 0.6) calc(var(--chevron-dim) * 0.6) 0;
	padding: calc(var(--chevron-dim) * 0.6);
	transform: rotate(-45deg);
	margin-right: 0.5rem;
	transition: margin-right var(--menu-slide-time) ease-in-out;
}