<template>
	<router-link :to="{name: 'RestaurantDetail', params: { id: restaurantId }}">
		<div>
			<h4>{{restaurantName}}</h4>
			<span></span>
		</div>
	</router-link>
</template>
<script lang="ts" src="./RestaurantListItem.ts"></script>
<style scoped src="./RestaurantListItem.css"></style>