<template>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.002 512.002" xml:space="preserve" :style="{
		width: width,
		height: height,
		backgroundColor: background,
	}" :class="tagClasses">
		<path fill="var(--color-chicken-plate)" d="M480.18,410.267H56.645c-3.089,0-5.592,2.503-5.592,5.592v37.605c0,3.089,2.503,5.592,5.592,5.592
			H480.18c3.089,0,5.592-2.503,5.592-5.592v-37.605C485.771,412.77,483.268,410.267,480.18,410.267z"/>
		<path opacity="0.15" fill="var(--color-burger-shadow)" d="M68.947,453.463v-37.605c0-3.089,2.503-5.592,5.592-5.592
			H56.645c-3.089,0-5.592,2.503-5.592,5.592v37.605c0,3.089,2.503,5.592,5.592,5.592h17.894
			C71.45,459.055,68.947,456.552,68.947,453.463z"/>
		<path fill="var(--color-chicken-legs)" d="M136.308,89.751c7.556-10.294,5.336-24.764-4.961-32.321c-10.294-7.557-24.764-5.336-32.323,4.96
			c-6.561,8.944-5.736,21.035,1.339,29.009c-9.731-4.362-21.513-1.522-28.08,7.423c-0.541,0.739-1.02,1.508-1.465,2.286
			c3.084,6.626,2.927,14.527-0.848,21.168c1.263,2.711,3.062,5.204,5.376,7.311l3.951,2.9c10.093,5.887,23.199,3.327,30.267-6.301
			l54.227,39.8l26.74-36.432L136.308,89.751z"/>
		<path fill="var(--color-chicken-body)" d="M326.756,171.674c-0.046-0.027-0.092-0.054-0.14-0.078l-2.542-1.402
			c-0.057-0.031-0.114-0.064-0.172-0.093c-3.97-2.062-8.145-3.743-12.415-4.998l-110.146-44.124c-3.315-1.327-7.108-0.245-9.223,2.634
			l-28.319,38.583c-1.433,1.952-1.882,4.456-1.217,6.784c0.665,2.327,2.37,4.215,4.615,5.115l59.83,23.973
			c0.928,0.371,1.916,0.561,2.912,0.561c0.186,0,0.371-0.007,0.556-0.02l2.063-0.146l-0.135,0.166l72.32,13.009
			c0,0,26.841,9.998,41.006-7.15C359.914,187.341,326.756,171.674,326.756,171.674z"/>
		<path opacity="0.15" fill="var(--color-burger-shadow)" d="M292.529,196.972l-2.063,0.148
			c-0.185,0.013-0.37,0.02-0.556,0.02c-0.996,0-1.983-0.19-2.912-0.563l-24.502-9.818l-1.2,0.085c-0.185,0.013-0.37,0.02-0.556,0.02
			c-0.996,0-1.983-0.19-2.912-0.561l-59.83-23.974c-2.246-0.9-3.95-2.788-4.615-5.115s-0.216-4.831,1.217-6.783l18.237-24.847
			l-11.496-4.605c-3.315-1.327-7.108-0.245-9.223,2.634l-28.319,38.583c-1.433,1.952-1.882,4.456-1.217,6.784
			c0.665,2.327,2.37,4.215,4.615,5.115l59.83,23.973c0.928,0.371,1.916,0.561,2.912,0.561c0.186,0,0.371-0.007,0.556-0.02l2.063-0.146
			l-0.135,0.166l72.32,13.009c0,0,24.716,9.193,39.228-5.223l-51.575-9.277L292.529,196.972z"/>
		<path fill="var(--color-chicken-plate-light)" d="M511.098,379.259c-1.201-2.072-3.413-3.346-5.805-3.346H31.921c-2.393,0-4.604,1.275-5.805,3.346
			c-1.199,2.071-1.206,4.624-0.016,6.7l22.371,39.028c1.194,2.087,3.417,3.374,5.821,3.374h428.629c2.404,0,4.627-1.286,5.822-3.374
			l22.371-39.027C512.303,383.884,512.298,381.33,511.098,379.259z"/>
		<path opacity="0.15" fill="var(--color-burger-shadow)" d="M69.139,424.988L46.768,385.96
			c-1.19-2.077-1.184-4.63,0.016-6.7c1.201-2.072,3.413-3.346,5.805-3.346h-1.655H33.577h-1.655c-2.393,0-4.604,1.275-5.805,3.346
			c-1.199,2.071-1.206,4.624-0.016,6.7l22.371,39.027c1.194,2.087,3.417,3.374,5.821,3.374h1.655h17.357h1.655
			C72.555,428.362,70.334,427.075,69.139,424.988z"/>
		<path fill="var(--color-chicken-body-light)" d="M359.622,187.183c-4.867,0-9.648,0.363-14.332,1.02l-116.237,8.268l13.816,5.535
			c4.168,1.212,8.255,2.842,12.201,4.893l3.001,1.202l-0.236,0.322c2.09,1.208,4.132,2.538,6.123,3.997
			c30.021,22.031,36.493,64.228,14.463,94.244c-22.033,30.019-64.232,36.493-94.25,14.461c-1.987-1.461-3.866-3.013-5.649-4.643
			l-0.002-0.002c-4.895-4.475-9.002-9.544-12.28-15.017l-60.885-74.439c-15.946,16.055-25.803,38.165-25.803,62.584
			c0,43.714,31.587,80.026,73.179,87.422h260.275c29.412-17.997,49.042-50.416,49.042-87.422
			C462.048,233.041,416.19,187.183,359.622,187.183z"/>
		<path opacity="0.15" fill="var(--color-burger-shadow)" d="M97.445,289.609c0-19.351,6.208-37.237,16.711-51.824
			l-8.801-10.761c-15.946,16.055-25.803,38.165-25.803,62.584c0,43.714,31.587,80.026,73.179,87.422h17.894
			C129.032,369.636,97.445,333.324,97.445,289.609z"/>
		<path fill="var(--color-chicken-legs-light)" d="M31.226,97.201c-6.566,8.944-5.741,21.035,1.336,29.009c-9.731-4.36-21.51-1.523-28.08,7.423
			c-7.556,10.296-5.333,24.765,4.961,32.322c10.294,7.555,24.765,5.336,32.323-4.96l54.225,39.802l26.738-36.433l-54.222-39.802
			c7.556-10.296,5.336-24.766-4.963-32.322C53.255,84.687,38.784,86.905,31.226,97.201z"/>
		<path fill="var(--color-chicken-body)" d="M292.919,256.21c-2.822-18.391-12.639-34.583-27.638-45.593c-2.019-1.48-4.146-2.869-6.325-4.129
			c-0.046-0.026-0.092-0.053-0.138-0.077l-2.544-1.404c-0.057-0.031-0.114-0.063-0.172-0.093c-3.967-2.062-8.143-3.743-12.416-4.999
			L133.539,155.79c-3.316-1.327-7.109-0.243-9.222,2.635l-33.28,45.344c-2.115,2.879-2.011,6.824,0.252,9.588l73.119,89.398
			c3.429,5.692,7.667,10.865,12.573,15.348l0.135,0.123c1.852,1.689,3.781,3.27,5.734,4.704c12.038,8.835,26.27,13.505,41.161,13.505
			c22.124,0,43.14-10.634,56.215-28.449C291.232,292.99,295.741,274.601,292.919,256.21z"/>
		<path opacity="0.15" fill="var(--color-burger-shadow)" d="M205.566,322.302c-1.953-1.434-3.882-3.015-5.734-4.704
			l-0.135-0.123c-4.905-4.483-9.144-9.656-12.573-15.348l-73.119-89.398c-2.261-2.765-2.365-6.709-0.252-9.588l31.351-42.716
			l-11.566-4.634c-3.316-1.327-7.109-0.243-9.222,2.635l-33.28,45.344c-2.115,2.879-2.011,6.824,0.252,9.588l73.119,89.398
			c3.429,5.692,7.667,10.865,12.573,15.348l0.135,0.123c1.852,1.689,3.781,3.27,5.734,4.704c12.038,8.835,26.27,13.505,41.161,13.505
			c4.435,0,8.814-0.471,13.104-1.302C225.745,333.563,214.982,329.214,205.566,322.302z"/>
	</svg>
</template>
<script lang="ts">
	import { defineComponent } from 'vue';
	export default defineComponent({
		name: 'IconChicken',
		props: {
			width: {
				type: String || Number,
				default: '1rem'
			},
			height: {
				type: String || Number,
				default: '1rem'
			},
			stroke: {
				type: String || Number,
				default: ''
			},
			strokeWidth: {
				type: String || Number,
				default: '1'
			},
			fill: {
				type: String || Number,
				default: ''
			},
			background: {
				type: String || Number,
				default: ''
			},
			classImport: {
				type: String,
				default: ''
			}
		},
		computed: {
			tagClasses() {
				return `${this.classImport}`
			}
		}
	})
</script>
<style scoped>
</style>