<template>
	<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" xml:space="preserve" :style="{
		width: width,
		height: height,
		backgroundColor: background,

	}" :class="tagClasses">
		<g>
			<path d="M61.821 11.045c.703-1.309-.891-.912-.891-.912s-10.627 10.201-12.104 8.951S59.231 8.057 57.825 6.23c-1.301-1.703-11.74 10.455-12.994 8.97c-1.242-1.482 8.939-12.123 8.939-12.123s.387-1.602-.912-.9C36.851 10.785 34.812 18.81 34.812 18.81s-.551 1.563.645 2.771c.117.105-29.204 29.26-33.129 33.196c-1.91 1.908 5.098 8.801 6.996 6.893c3.926-3.936 33.024-33.303 33.129-33.194c1.207 1.205 2.766.652 2.766.652s8.012-2.045 16.602-18.083" :fill="fill" :stroke="stroke" :stroke-width="strokeWidth"></path>
			<path d="M32.028 40.507c7.803 7.82 20.958 20.999 20.958 20.999s5.742-1.879 6.551-6.729L38.662 33.861a5104.35 5104.35 0 0 0-6.634 6.646" :fill="fill" :stroke="stroke" :stroke-width="strokeWidth"></path>
			<path d="M21.76 33.729a5059.26 5059.26 0 0 0 8.387-8.4L7.459 2.598s-.41-.43-1.313.477C4.353 4.862.884 16.248 15.591 30.977c2.331 2.336 4.359 2.66 6.169 2.752" :fill="fill" :stroke="stroke" :stroke-width="strokeWidth"></path>
		</g>
	</svg>
</template>
<script lang="ts">
	import { defineComponent } from 'vue';
	export default defineComponent({
		name: 'IconKnifeAndFork',
		props: {
			width: {
				type: String || Number,
				default: '1rem'
			},
			height: {
				type: String || Number,
				default: '1rem'
			},
			stroke: {
				type: String || Number,
				default: ''
			},
			strokeWidth: {
				type: String || Number,
				default: '1'
			},
			fill: {
				type: String || Number,
				default: ''
			},
			background: {
				type: String || Number,
				default: ''
			},
			classImport: {
				type: String,
				default: ''
			}
		},
		computed: {
			tagClasses() {
				return `${this.classImport}`
			}
		}
	})
</script>
<style scoped>
	svg {}
</style>
