.inner-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.list-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-bottom: calc(var(--base-padding) * 3 );
}

.list-wrapper:before,
.list-wrapper:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 25%;
	pointer-events: none;
	left: 0;
	right: 0;
	z-index: 10;
}

.list-wrapper:before {
	top: 0;
	background: linear-gradient(to bottom, var(--background-color), transparent);
}

.list-wrapper:after {
	bottom: 0;
	background: linear-gradient(to top, var(--background-color), transparent);
}

ul {
	-webkit-transform-style: preserve-3d;
	position: relative;
	display: block;
	margin: 0 auto;
	min-width: 22rem;
	margin-top: calc(var(--wheel-item-h) * -1);
	transition: transform var(--wheel-rot-time) cubic-bezier(0.57, -0.03, 0.57, 1.1);
	transform-origin: center center;
}

.chevron {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: calc(50% - 1rem);
	border: solid var(--color-black-dark);
	border-width: 0 calc(var(--chevron-dim)*1.5) calc(var(--chevron-dim)*1.5) 0;
	padding: var(--chevron-dim);
	transform-origin: center center;
	z-index: 25;
}

.chevron.left {
	left: 1.5rem;
	transform: translateX(-50%) rotate(-45deg);
}

.chevron.right {
	right: 1.5rem;
	transform: translateX(50%) rotate(135deg);
}

li {
	background: linear-gradient(var(--color-white-lightish), var(--color-white-light), var(--color-white-lightish));
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	padding: 0.5rem;
	min-width: 22rem;
	height: var(--wheel-item-h);
	position: absolute;
	left: 0;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--color-black-light);
}

.swipe-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

button {
	width: var(--footer-h);
	height: var(--footer-h);
	display: block;
	cursor: pointer;
	background-color: var(--color-btn-danger);
	opacity: 0.65;
	position: relative;
}

button:before,
button:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: 50%;
	border: solid var(--color-white-lighter);
	border-width: 0 calc(var(--chevron-dim)*0.75) calc(var(--chevron-dim)*0.75) 0;
	padding: var(--chevron-dim);
}

button:before {
	transform: translate(-50%, calc(-50% - 1rem)) rotate(45deg);
}

button:after {
	transform: translate(-50%, calc(-50% + 0.25rem)) rotate(45deg) ;
}