<template>
  <div class="inner-layout">
	<div class="list-wrapper">
		<div class="chevron left"></div>
		<ul :style="{height: addWrapperHeight(restaurantsTest.length, 'var(--wheel-item-h) + 2px'), transform: `rotateX(${wheelRotationDeg}deg)`}" @touchmove="spinTheWheel()">
			<li v-for="(restaurant, itemNumber) in restaurantsTest" :key="itemNumber" :style="{transform: `rotateX(${addRotation(restaurantsTest.length, itemNumber)}deg) ` + addTranslation(restaurantsTest.length, 'var(--wheel-item-h) + 2px')}">
				<WheelListItem :itemName="restaurant.name" :itemId="itemNumber"></WheelListItem>
			</li>
		</ul>
		<div class="chevron right"></div>
	</div>
	<div class="swipe-wrapper">
		<button @click="spinTheWheel()"></button>
	</div>
  </div>
</template>
<script lang="ts" src="./WheelMainWrapper.ts"></script>
<style scoped src="./WheelMainWrapper.css"></style>
