<template>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" :style="{
		width: width,
		height: height,
		backgroundColor: background,

	}" :class="tagClasses">
		<g>
			<path fill="var(--color-green-stuff)" d="M372.413,142.011H343.31c-4.465,0-8.084-3.618-8.084-8.083v-29.103c0-4.465,3.62-8.085,8.084-8.085
				c4.464,0,8.084,3.621,8.084,8.085v21.018h21.019c4.465,0,8.084,3.618,8.084,8.083C380.496,138.394,376.878,142.011,372.413,142.011
				z"/>
			<path fill="var(--color-green-stuff)" d="M351.487,162.938h-29.104c-4.465,0-8.084-3.618-8.084-8.083v-29.103c0-4.465,3.62-8.085,8.084-8.085
				c4.465,0,8.084,3.621,8.084,8.085v21.018h21.019c4.465,0,8.084,3.618,8.084,8.083C359.571,159.32,355.952,162.938,351.487,162.938z
				"/>
		</g>
		<path fill="var(--color-green-stuff-dark)" d="M302.257,183.064c-2.069,0-4.138-0.79-5.717-2.368c-3.157-3.157-3.157-8.276,0-11.432l65.096-65.098
			c3.157-3.156,8.276-3.156,11.432,0c3.158,3.159,3.158,8.276,0,11.434l-65.096,65.096
			C306.394,182.275,304.327,183.064,302.257,183.064z"/>
		<g>
			<path fill="var(--color-green-stuff)" d="M501.853,319.772h-29.104c-4.465,0-8.084-3.618-8.084-8.083v-29.105c0-4.465,3.62-8.083,8.084-8.083
				c4.465,0,8.084,3.618,8.084,8.083v21.018h21.019c4.465,0,8.084,3.621,8.084,8.085C509.936,316.155,506.317,319.772,501.853,319.772
				z"/>
			<path fill="var(--color-green-stuff)" d="M480.928,340.7h-29.104c-4.464,0-8.084-3.621-8.084-8.085v-29.102c0-4.465,3.62-8.083,8.084-8.083
				s8.084,3.618,8.084,8.083v21.018h21.019c4.464,0,8.084,3.618,8.084,8.083C489.012,337.079,485.392,340.7,480.928,340.7z"/>
		</g>
		<path fill="var(--color-green-stuff-dark)" d="M431.696,360.826c-2.069,0-4.138-0.79-5.717-2.368c-3.158-3.159-3.158-8.278,0-11.434l65.096-65.096
			c3.157-3.157,8.276-3.157,11.432,0c3.158,3.157,3.158,8.276,0,11.432l-65.096,65.098
			C435.834,360.037,433.765,360.826,431.696,360.826z"/>
		<path fill="var(--color-potato)" d="M43.924,275.52c14.734-14.653,38.704-14.655,53.437,0.004c3.353,3.333,3.353,8.745,0,12.08
			L56.07,328.682c-3.354,3.336-8.792,3.336-12.145-0.002C29.193,314.026,29.192,290.177,43.924,275.52z"/>
		<path fill="var(--color-chicken-light)" d="M61.669,392.084h121.644l22.256-22.255c12.629-12.629,12.629-33.104,0-45.731l-60.213-60.212
			c-12.628-12.629-33.103-12.629-45.73,0l-60.213,60.212c-12.628,12.627-12.628,33.102,0,45.731L61.669,392.084z"/>
		<g>
			<path fill="var(--color-chicken-dots)" d="M87.459,307.079h-1.078c-4.465,0-8.084,3.621-8.084,8.085c0,4.465,3.62,8.083,8.084,8.083h1.078
				c4.464,0,8.084-3.618,8.084-8.083C95.543,310.7,91.924,307.079,87.459,307.079z"/>
			<path fill="var(--color-chicken-dots)" d="M152.14,297.379l-1.078-0.002c-0.002,0-0.005,0-0.008,0c-4.461,0-8.08,3.616-8.084,8.077
				c-0.004,4.465,3.611,8.087,8.076,8.092h1.078c0.003,0,0.005,0,0.008,0c4.462,0,8.08-3.614,8.084-8.075
				C160.22,301.006,156.605,297.383,152.14,297.379z"/>
			<path fill="var(--color-chicken-dots)" d="M123.029,281.209h-1.078c-4.465,0-8.084,3.621-8.084,8.085c0,4.465,3.62,8.083,8.084,8.083h1.078
				c4.465,0,8.084-3.618,8.084-8.083C131.114,284.83,127.494,281.209,123.029,281.209z"/>
			<path fill="var(--color-chicken-dots)" d="M119.794,316.781h-1.077c-4.465,0-8.084,3.618-8.084,8.083c0,4.465,3.62,8.083,8.084,8.083h1.077
				c4.465,0,8.084-3.618,8.084-8.083S124.259,316.781,119.794,316.781z"/>
		</g>
		<path fill="var(--color-bone)" d="M148.31,84.03c-1.078-6.327,0.808-13.057,5.689-17.939c7.998-7.998,20.965-7.998,28.964,0
			c7.999,7.998,7.998,20.965,0,28.964c-0.647,0.645-1.328,1.237-2.033,1.777l116.743,116.742c5.472,5.471,5.472,14.343,0,19.816
			c-5.472,5.471-14.345,5.471-19.816,0L161.112,116.648c-0.541,0.706-1.132,1.388-1.776,2.032c-7.999,7.998-20.967,7.998-28.966,0
			c-7.998-7.996-7.997-20.965,0.001-28.964C135.253,84.837,141.985,82.953,148.31,84.03z"/>
		<path fill="var(--color-chicken-medium)" d="M212.307,148.026c-31.571,31.572-26.793,87.534,10.671,125
			c37.464,37.462,85.806,34.619,117.376,3.047s34.415-79.914-3.048-117.375C299.841,121.232,243.878,116.454,212.307,148.026z"/>
		<path opacity="0.1" d="M256.541,273.026c-37.464-37.465-42.241-93.429-10.671-125
			c10.068-10.068,22.622-16.423,36.26-19.217c-25.904-4.949-51.828,1.218-69.824,19.217c-31.571,31.572-26.793,87.534,10.671,125
			c23.879,23.878,52.173,31.357,77.73,25.484C285.433,295.032,270.258,286.74,256.541,273.026z"/>
		<g>
			<path fill="var(--color-chicken-dots-medium)" d="M332.853,213.19l-0.763-0.762c-3.159-3.157-8.278-3.154-11.433,0.006
				c-3.155,3.159-3.151,8.278,0.008,11.432l0.763,0.763c1.578,1.576,3.645,2.364,5.712,2.364c2.071,0,4.142-0.79,5.721-2.372
				C336.016,221.463,336.013,216.344,332.853,213.19z"/>
			<path fill="var(--color-chicken-dots-medium)" d="M319.141,242.158c-3.155-3.159-8.272-3.161-11.433-0.006c-3.159,3.154-3.162,8.273-0.007,11.432
				l0.762,0.762c1.579,1.582,3.65,2.373,5.721,2.373c2.067,0,4.134-0.79,5.712-2.366c3.159-3.156,3.162-8.273,0.007-11.432
				L319.141,242.158z"/>
			<path fill="var(--color-chicken-dots-medium)" d="M311.135,188.122c2.071,0,4.142-0.792,5.721-2.373c3.156-3.157,3.151-8.278-0.007-11.432
				l-0.763-0.76c-3.159-3.157-8.278-3.154-11.433,0.006c-3.155,3.159-3.151,8.278,0.008,11.432l0.762,0.762
				C307,187.334,309.067,188.122,311.135,188.122z"/>
			<path fill="var(--color-chicken-dots-medium)" d="M294.748,199.473c-3.158-3.157-8.276-3.157-11.432,0c-3.158,3.157-3.158,8.276,0,11.432l0.762,0.763
				c1.578,1.578,3.647,2.368,5.717,2.368c2.069,0,4.138-0.79,5.717-2.368c3.158-3.159,3.158-8.276,0-11.434L294.748,199.473z"/>
			<path fill="var(--color-chicken-dots-medium)" d="M283.316,160.601l-0.762-0.764c-3.157-3.155-8.276-3.155-11.432,0
				c-3.158,3.159-3.158,8.276,0,11.434l0.762,0.762c1.579,1.578,3.648,2.368,5.717,2.368s4.138-0.79,5.717-2.368
				C286.472,168.877,286.472,163.759,283.316,160.601z"/>
		</g>
		<path fill="var(--color-potato)" d="M385.21,222.336c20.78,0.055,37.73,17.004,37.785,37.788c0.013,4.728-3.813,8.552-8.542,8.541
			l-58.243-0.151c-4.731-0.013-8.578-3.857-8.588-8.588C347.566,239.146,364.429,222.281,385.21,222.336z"/>
		<circle fill="var(--color-chicken-medium)" cx="386.759" cy="326.928" r="72.819"/>
		<g>
			<path fill="var(--color-chicken-dots)" d="M419.691,294.534h-1.077c-4.465,0-8.084,3.621-8.084,8.085c0,4.465,3.62,8.083,8.084,8.083h1.077
				c4.465,0,8.084-3.618,8.084-8.083C427.775,298.155,424.155,294.534,419.691,294.534z"/>
			<path fill="var(--color-chicken-dots)" d="M365.796,284.832c-0.002,0-0.005,0-0.008,0l-1.077,0.002c-4.465,0.004-8.08,3.627-8.076,8.092
				c0.004,4.464,3.623,8.076,8.084,8.076c0.002,0,0.005,0,0.008,0h1.077c4.465-0.004,8.08-3.629,8.076-8.092
				C373.876,288.446,370.257,284.832,365.796,284.832z"/>
			<path fill="var(--color-chicken-dots)" d="M394.899,268.664h-1.078c-4.465,0-8.084,3.621-8.084,8.083c0,4.465,3.62,8.085,8.084,8.085h1.078
				c4.465,0,8.084-3.621,8.084-8.085C402.984,272.285,399.364,268.664,394.899,268.664z"/>
		</g>
		<g>
			<path fill="var(--color-green-stuff)" d="M134.049,207.227h-29.104c-4.465,0-8.084-3.621-8.084-8.085c0-4.465,3.62-8.083,8.084-8.083h21.019
				V170.04c0-4.465,3.62-8.083,8.084-8.083s8.084,3.618,8.084,8.083v29.103C142.132,203.606,138.513,207.227,134.049,207.227z"/>
			<path fill="var(--color-green-stuff)" d="M154.973,228.151h-29.104c-4.465,0-8.084-3.618-8.084-8.083c0-4.465,3.62-8.085,8.084-8.085h21.019
				v-21.018c0-4.465,3.62-8.083,8.084-8.083c4.465,0,8.084,3.618,8.084,8.083v29.105C163.058,224.532,159.438,228.151,154.973,228.151
				z"/>
		</g>
		<path fill="var(--color-green-stuff-dark)" d="M175.1,248.277c-2.069,0-4.138-0.788-5.717-2.368l-65.096-65.096c-3.157-3.157-3.157-8.276,0-11.432
			c3.157-3.156,8.276-3.156,11.432,0l65.096,65.096c3.157,3.157,3.157,8.276,0,11.432C179.238,247.49,177.169,248.277,175.1,248.277z"
			/>
		<circle fill="var(--color-chicken-dark)" cx="215.489" cy="268.727" r="72.819"/>
		<path opacity="0.1" d="M237.197,330.226c-40.217,0-72.818-32.602-72.818-72.818
			c0-23.679,11.309-44.71,28.813-58.009c-29.306,9.419-50.521,36.89-50.521,69.327c0,40.214,32.601,72.817,72.818,72.817
			c16.538,0,31.78-5.52,44.005-14.808C252.465,328.994,244.976,330.226,237.197,330.226z"/>
		<g>
			<path fill="var(--color-chicken-dots-dark)" d="M183.631,239.563h-1.078c-4.465,0-8.084,3.618-8.084,8.083c0,4.465,3.62,8.083,8.084,8.083h1.078
				c4.465,0,8.084-3.618,8.084-8.083C191.716,243.181,188.096,239.563,183.631,239.563z"/>
			<path fill="var(--color-chicken-dots-dark)" d="M237.535,229.861h-1.079c-0.002,0-0.005,0-0.007,0c-4.462,0-8.08,3.614-8.084,8.076
				c-0.004,4.465,3.611,8.088,8.076,8.092l1.079,0.002c0.002,0,0.005,0,0.008,0c4.461,0,8.079-3.616,8.084-8.077
				C245.615,233.489,241.999,229.865,237.535,229.861z"/>
			<path fill="var(--color-chicken-dots-dark)" d="M208.423,213.693h-1.077c-4.465,0-8.084,3.618-8.084,8.083c0,4.465,3.62,8.083,8.084,8.083h1.077
				c4.465,0,8.084-3.618,8.084-8.083C216.507,217.312,212.888,213.693,208.423,213.693z"/>
		</g>
		<path fill="var(--color-bone)" d="M423.903,174.573c1.078-6.325-0.807-13.057-5.689-17.939c-7.998-7.998-20.966-7.998-28.964,0
			c-7.998,7.998-7.998,20.965,0,28.964c0.647,0.647,1.328,1.237,2.033,1.777L274.541,304.118c-5.472,5.471-5.472,14.345,0,19.816
			s14.344,5.471,19.816,0l116.742-116.741c0.541,0.704,1.132,1.386,1.778,2.032c7.997,7.998,20.964,7.998,28.961,0
			c7.999-7.998,7.998-20.965,0.001-28.964C436.96,175.379,430.226,173.495,423.903,174.573z"/>
		<path fill="var(--color-chicken-light)" d="M359.905,238.569c31.572,31.572,26.794,87.534-10.671,125
			c-37.464,37.463-85.805,34.621-117.377,3.047c-31.571-31.572-34.415-79.912,3.05-117.375
			C272.37,211.775,328.335,206.998,359.905,238.569z"/>
		<path opacity="0.1" d="M254.494,366.616c-31.571-31.572-34.415-79.912,3.05-117.375
			c17.631-17.633,39.36-28.018,60.717-30.788c-27.874-3.739-59.393,6.826-83.353,30.788c-37.464,37.464-34.62,85.804-3.05,117.375
			c18.622,18.622,43.078,27.238,67.695,23.496C282.996,387.566,267.354,379.477,254.494,366.616z"/>
		<g>
			<path fill="var(--color-chicken-dots)" d="M244.814,317.536c-2.071,0-4.142-0.79-5.721-2.372c-3.156-3.159-3.151-8.278,0.007-11.432
				l0.763-0.762c3.16-3.156,8.279-3.151,11.433,0.006c3.155,3.159,3.151,8.28-0.008,11.432l-0.763,0.763
				C248.949,316.749,246.881,317.536,244.814,317.536z"/>
			<path fill="var(--color-chicken-dots)" d="M328.535,262.96c-2.069,0-4.138-0.79-5.717-2.368c-3.157-3.159-3.157-8.278,0-11.434l0.762-0.762
				c3.157-3.157,8.276-3.157,11.432,0c3.157,3.157,3.157,8.276,0,11.432l-0.762,0.763C332.672,262.171,330.604,262.96,328.535,262.96z
				"/>
			<path fill="var(--color-chicken-dots)" d="M260.821,278.665c-2.069,0-4.138-0.79-5.717-2.368c-3.157-3.157-3.157-8.276,0-11.432l0.763-0.763
				c3.157-3.156,8.276-3.156,11.432,0c3.157,3.159,3.157,8.276,0,11.434l-0.762,0.761C264.959,277.875,262.89,278.665,260.821,278.665
				z"/>
			<path fill="var(--color-chicken-dots)" d="M282.162,304.579c-2.069,0-4.138-0.788-5.717-2.368c-3.158-3.157-3.158-8.276,0-11.432l0.762-0.763
				c3.158-3.156,8.276-3.156,11.432,0c3.158,3.159,3.158,8.278,0,11.434l-0.762,0.762C286.3,303.792,284.231,304.579,282.162,304.579z
				"/>
			<path fill="var(--color-chicken-dots)" d="M294.358,264.947c-2.069,0-4.138-0.79-5.717-2.368c-3.158-3.157-3.158-8.276,0-11.434l0.762-0.762
				c3.157-3.156,8.276-3.156,11.432,0c3.158,3.157,3.158,8.276,0,11.432l-0.762,0.763
				C298.496,264.157,296.427,264.947,294.358,264.947z"/>
		</g>
		<g>
			<path fill="var(--color-potato)" d="M388.976,360.024c-14.733,14.655-38.705,14.655-53.437-0.002c-3.353-3.334-3.353-8.745,0-12.08
				l41.291-41.079c3.354-3.336,8.792-3.334,12.145,0C403.707,321.52,403.708,345.367,388.976,360.024z"/>
			<path fill="var(--color-potato)" d="M204.203,307.469c20.78,0.057,37.73,17.006,37.785,37.788c0.013,4.728-3.814,8.556-8.542,8.543
				l-58.244-0.151c-4.731-0.013-8.577-3.857-8.588-8.588C166.56,324.279,183.421,307.415,204.203,307.469z"/>
		</g>
		<path fill="var(--color-plate-bottom)" d="M448.404,441.128c0,5.953-4.825,10.779-10.778,10.779H74.375c-5.953,0-10.778-4.826-10.778-10.779
			v-59.283c0-5.953,4.825-10.779,10.778-10.779h363.251c5.953,0,10.778,4.826,10.778,10.779L448.404,441.128L448.404,441.128z"/>
		<path opacity="0.1" d="M118.03,441.128v-59.283c0-5.953,4.825-10.779,10.778-10.779H74.375
			c-5.953,0-10.778,4.826-10.778,10.779v59.283c0,5.953,4.825,10.779,10.778,10.779h54.434
			C122.855,451.907,118.03,447.081,118.03,441.128z"/>
		<path fill="var(--color-plate-top)" d="M72.313,423.381C32.439,423.381,0,391.073,0,351.361c0-5.806,4.726-10.517,10.557-10.517h490.887
			c5.831,0,10.557,4.71,10.557,10.517c0,39.712-32.439,72.021-72.313,72.021H72.313z"/>
		<path opacity="0.1" d="M54.434,351.361c0-5.806,4.726-10.517,10.557-10.517H10.557
			C4.726,340.844,0,345.554,0,351.361c0,39.712,32.439,72.021,72.313,72.021h54.434C86.873,423.381,54.434,391.073,54.434,351.361z"/>
	</svg>
</template>
<script lang="ts">
	import { defineComponent } from 'vue';
	export default defineComponent({
		name: 'IconMeal',
		props: {
			width: {
				type: String || Number,
				default: '1rem'
			},
			height: {
				type: String || Number,
				default: '1rem'
			},
			stroke: {
				type: String || Number,
				default: ''
			},
			strokeWidth: {
				type: String || Number,
				default: '1'
			},
			fill: {
				type: String || Number,
				default: ''
			},
			background: {
				type: String || Number,
				default: ''
			},
			classImport: {
				type: String,
				default: ''
			}
		},
		computed: {
			tagClasses() {
				return `${this.classImport}`
			}
		}
	})
</script>
<style scoped>
</style>