<template>
  <div class="inner-layout offset">
    <IconCookingPot width="10rem" height="10rem"></IconCookingPot>
    <h4>Loading</h4>
  </div>
</template>
<script lang="ts" src="./LoadingPage.ts"></script>
<style scoped src="./LoadingPage.css"></style>