<template>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" :style="{
		width: width,
		height: height,
		backgroundColor: background,
	}" :class="tagClasses">
		<path fill="var(--color-rest-bg)" d="M489.739,500.87H22.261V33.391h467.478V500.87z"/>
		<path fill="var(--color-rest-bg-light)" d="M456.348,131.092L359.884,500.87H166.957l96.464-369.777L456.348,131.092L456.348,131.092z
			M82.753,55.652L33.391,244.87h66.783l49.361-189.217H82.753z M100.174,244.87l-66.783,256h66.783l66.783-256H100.174z"/>
		<path fill="var(--color-rest-light-rod)" d="M283.826,278.261h-11.13V133.565h11.13V278.261z"/>
		<path fill="var(--color-rest-light-cone-side)" d="M333.913,356.174H222.609l44.522-89.043h22.261L333.913,356.174z"/>
		<path fill="var(--color-rest-light-cone)" d="M311.652,356.174H244.87l28.29-81.623h10.203L311.652,356.174z"/>
		<path fill="var(--color-rest-table-leg)" d="M289.391,500.87H267.13V356.174h22.261V500.87z"/>
		<path fill="var(--color-rest-table-desk)" d="M333.913,366.598H222.609V345.38h111.304V366.598z"/>
		<path fill="var(--color-rest-light-bulb)" d="M246.777,278.261c-1.231-3.483-1.908-7.227-1.908-11.13c0-18.442,14.949-33.391,33.391-33.391
			s33.391,14.949,33.391,33.391c0,3.903-0.677,7.648-1.908,11.13H246.777z"/>
		<path fill="var(--color-rest-light-shade)" d="M311.652,267.13c0,3.903-0.677,7.648-1.908,11.13h-20.353v-11.13c0-6.147-4.983-11.13-11.13-11.13
			s-11.13,4.983-11.13,11.13v11.13h-20.353c-1.231-3.483-1.908-7.227-1.908-11.13c0-18.442,14.949-33.391,33.391-33.391
			S311.652,248.688,311.652,267.13z"/>
		<path fill="var(--color-rest-lines)" d="M500.87,489.739h-11.13V100.174h-22.261v389.565H189.217V100.174h-22.261v133.565H44.522V100.174
			H22.261v389.565H11.13c-6.147,0-11.13,4.983-11.13,11.13C0,507.017,4.983,512,11.13,512H500.87c6.147,0,11.13-4.983,11.13-11.13
			C512,494.722,507.017,489.739,500.87,489.739z M44.522,256h122.435v100.174h-11.13c-6.147,0-11.13,4.983-11.13,11.13
			c0,6.147,4.983,11.13,11.13,11.13h11.13v111.304H44.522V256z"/>
		<path fill="var(--color-rest-roof-light)" d="M512,22.261v104.626c0,28.277-22.923,51.2-51.2,51.2l0,0c-28.277,0-51.2-22.923-51.2-51.2
			c0,28.277-22.923,51.2-51.2,51.2l0,0c-28.277,0-51.2-22.923-51.2-51.2c0,28.277-22.923,51.2-51.2,51.2l0,0
			c-28.277,0-51.2-22.923-51.2-51.2c0,28.277-22.923,51.2-51.2,51.2l0,0c-28.277,0-51.2-22.923-51.2-51.2
			c0,28.277-22.923,51.2-51.2,51.2l0,0c-28.277,0-51.2-22.923-51.2-51.2V22.261h102.4h102.4h102.4h102.4H512z"/>
		<path fill="var(--color-rest-roof-dark)" d="M102.4,22.261h102.4v104.626c0,28.277-22.923,51.2-51.2,51.2l0,0c-28.277,0-51.2-22.923-51.2-51.2
			V22.261z M307.2,22.261v104.626c0,28.277,22.923,51.2,51.2,51.2l0,0c28.277,0,51.2-22.923,51.2-51.2V22.261H307.2z"/>
		<path fill="var(--color-rest-roof-top)" d="M512,55.652H0V22.261h512V55.652z"/>
		<path fill="var(--color-rest-table-leg)" d="M500.87,500.87h-22.261V345.043h22.261V500.87z M389.565,345.043h-22.261V500.87h22.261V345.043z"/>
		<path fill="var(--color-rest-roof-top)" d="M500.87,467.478H367.304V289.391H500.87V467.478z"/>
		<path fill="var(--color-rest-sign-sign)" d="M467.478,367.304h-66.783c-6.147,0-11.13-4.983-11.13-11.13l0,0c0-6.147,4.983-11.13,11.13-11.13
			h66.783c6.147,0,11.13,4.983,11.13,11.13l0,0C478.609,362.321,473.626,367.304,467.478,367.304z M456.348,400.696L456.348,400.696
			c0-6.147-4.983-11.13-11.13-11.13h-22.261c-6.147,0-11.13,4.983-11.13,11.13l0,0c0,6.147,4.983,11.13,11.13,11.13h22.261
			C451.365,411.826,456.348,406.843,456.348,400.696z"/>
		<path fill="var(--color-rest-shield)" d="M256.002,0c46.484,0,84.172,27.409,84.172,61.217s-37.688,61.217-84.172,61.217
			c-46.488,0-84.176-27.409-84.176-61.217S209.514,0,256.002,0L256.002,0z"/>
		<path fill="var(--color-rest-shiled-inner)" d="M256.002,30.609c21.129,0,38.26,13.704,38.26,30.609s-17.131,30.609-38.26,30.609
			c-21.131,0-38.262-13.704-38.262-30.609S234.871,30.609,256.002,30.609L256.002,30.609z"/>
	</svg>
</template>
<script lang="ts">
	import { defineComponent } from 'vue';
	export default defineComponent({
		name: 'IconRestaurant',
		props: {
			width: {
				type: String || Number,
				default: '1rem'
			},
			height: {
				type: String || Number,
				default: '1rem'
			},
			stroke: {
				type: String || Number,
				default: ''
			},
			strokeWidth: {
				type: String || Number,
				default: '1'
			},
			fill: {
				type: String || Number,
				default: ''
			},
			background: {
				type: String || Number,
				default: ''
			},
			classImport: {
				type: String,
				default: ''
			}
		},
		computed: {
			tagClasses() {
				return `${this.classImport}`
			}
		}
	})
</script>
<style scoped>
</style>