<template>
	<div class="inner-layout no-page-wrapper">
		<h3>Here is no lunch for you!</h3>
		<div class="error-code-wrapper">
			<p>4</p>
			<div class="error-icon-wrapper">
				<IconMeal width="75%" height="75%"></IconMeal>
			</div>
			<p>4</p>
		</div>
		<span>
			Error message!
		</span>
		<h4>Go back to <router-link to="/">home page</router-link></h4>
	</div>
</template>
<script lang="ts" src="./NotFound.ts"></script>
<style scoped src="./NotFound.css"></style>