.no-page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

a {
	letter-spacing: 0px;
	font-size: var(--font-md);
	line-height: var(--line-height-md);
	font-weight: 100;
	cursor: pointer;
	text-decoration: underline;
}

.error-code-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: var(--base-padding);
}

.error-icon-wrapper {
	width: 8rem;
	height: 8rem;
	margin-top: 0.5rem;
	border-radius: 50%;
	border: 0.5rem solid var(--color-menu-opened);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: var(--base-padding);
	margin-right: var(--base-padding);
	position: relative;
}

.error-icon-wrapper::after {
	content: '';
	width: 8rem;
	height: 0.5rem;
	background-color: var(--color-menu-opened);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

span {
	width: 100%;
	max-width: 25rem;
	height: auto;
	display: block;
	text-align: center;
	color: var(--color-btn-danger);
	padding: calc(var(--base-padding) * 0.25) var(--base-padding);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: var(--base-padding);
}

p {
	font-size: 10rem;
	line-height: 1.250;
	font-weight: 400;
}