html {

	/* COLOR TINTS */

	--color-black-pure: #000000;
	--color-black-darkest: #080808;
	--color-black-dark: #404040;
	--color-black-middle: #696969;
	--color-black-light: #909090;
	--color-white-middle: #B0B0B0;
	--color-white-light: #D3D3D3;
	--color-white-lightish: #DCDCDC;
	--color-white-lighter: #EBEBEB;
	--color-white-lightest: #F7F7F7;
	--color-white-pure: #FFFFFF;

	/* COLORS WHEEL OF FORTUNE */

	--color-wheel-red: #e60000;
	--color-wheel-blue: #002db3;
	--color-wheel-yellow: #e6b800;
	--color-wheel-green: #2eb82e;

	/* BURGER MENU */
	--color-bun: #EFAC52;
	--color-burger-shadow: #202020;
	--color-lettuce: #7DC44E;
	--color-cheese: #FCAF29;
	--color-meat: #8C5549;
	--color-tomato: #D33D3D;
	--color-tomato-inlay: #E95353;
	--color-burger-shadow: #202020;
	--color-menu-opened: #cc0000;

	/* NO MEAL ICON */
	--color-green-stuff: #62AF62;
	--color-green-stuff-dark: #519351;
	--color-potato: #FFE060;
	--color-bone: #EFDFBB;
	--color-plate-top: #EF645E;
	--color-plate-bottom: #C14616;
	--color-chicken-dots: #AF805A;
	--color-chicken-light: #DDB690;
	--color-chicken-medium: #D3A179;
	--color-chicken-dark: #BC8C6C;
	--color-chicken-dots-medium: #B2754B;
	--color-chicken-dots-dark: #996B48;

	/* ICON RESTAURANT */
	--color-rest-bg: #C1B69A;
	--color-rest-bg-light: #E3D7B1;
	--color-rest-light-rod: #A39B8D;
	--color-rest-light-cone-side: #F7F2CD;
	--color-rest-light-cone: #FFFCE3;
	--color-rest-light-bulb: #F5D470;
	--color-rest-light-shade: #D19B3F;
	--color-rest-table-leg: #AA8144;
	--color-rest-table-desk: #C6984F;
	--color-rest-lines: #57544C;
	--color-rest-roof-light: #B74941;
	--color-rest-roof-dark: #833335;
	--color-rest-roof-top: #323030;
	--color-rest-sign-sign: #E5DFD7;
	--color-rest-shield: #939B48;
	--color-rest-shiled-inner: #612324;

	/* ICON CHICKEN */
	--color-chicken-plate: #C0C9CC;
	--color-chicken-body: #C17727;
	--color-chicken-legs: #FCE9C0;
	--color-chicken-legs-light: #FFF1CE;
	--color-chicken-body-light: #D78C33;
	--color-chicken-plate-light: #DCE0E2;

	/* ICON COOKING POT */
	--color-pot-main: var(--color-menu-opened);
	--color-pot-highlight: #EF645E;
	--color-pot-handle: #A39B8D;
	--color-pot-outline: #323030;
	--color-flame-inner: #FF6A5E;
	--color-flame-outer: #C14616;

	/* ICON */
	--color-border: brown;

	/* BUTTON */

	--color-btn-danger: #C14616;
	--color-btn-danger-hover: brown;
}