@import url('./colors.css');
@import url('./variables.css');
@import url('./fonts.css');

html {

	/* BASE FONT SETTING */
	font-size: var(--font-size-min);
	font-family: var(--font-family-lato);
}

@media only screen and (min-width: 450px) {
	html {
		  font-size: calc(var(--font-size-min) + (16 - 12) * (100vw - 500px) / (1920 - 500));
	}
  }

body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

  .main-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
  }

  /* TABLE */

  table,
  table tr,
  tr td,
  table tbody,
  table thead,
  table tfoot,
  table tr th,
  table tfoot tr tf {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	background-image: none;
	vertical-align: baseline;
  }

  table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
  }

  th,
  td {
	vertical-align: bottom;
  }

ul {
	list-style: none;
}

/* BUTTON */

  .btn,
button {
  transition: all 300ms ease-in-out;
  border-width: 0;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: var(--font-sm);
  line-height: var(--line-height-sm);
  cursor: pointer;
}

/* INPUT */

input {
	border-width: 0;
	margin: 0;
	padding: 0;
	font-size: var(--font-sm);
	line-height: var(--line-height-sm);
	cursor: text;
}

/*  APP LAYOUT */

#app {
	display: block;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	position: relative;
	overflow: hidden;
}

.inner-layout {
	width: 100%;
	height: calc(100vh - var(--header-h) - var(--footer-h));
	overflow-x: hidden;
	overflow-y: auto;
}

.inner-layout.offset {
	padding-top: calc(var(--header-h) + var(--base-padding));
	padding-bottom: calc(var(--footer-h) + var(--base-padding));
}