html {

	/* COMPONENT INJECTION */

	--header-h: 4.5rem;
	--footer-h: 4.5rem;
	--base-padding: 1rem;

	/* ANIMATION */
	--menu-slide-time: 500ms;

	/* PAGE SETTINGS */

	--background-color: var(--color-white-lightest);
	--text-light: var(--color-white-lightest);
	--text-dark: var(--color-black-darkest);
	--font-size-max: 16px;
	--font-size-min: 12px;

	/* WHEEL ITEM */
	--wheel-item-h: 4.0625rem;
	--chevron-dim: 0.75rem;
	--wheel-rot-time: 1500ms;
}