<template>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" :style="{
			width: width,
			height: height,
			backgroundColor: background,
		}" :class="tagClasses">
		<g>
			<path fill="var(--color-pot-main)" d="M338.653,53.567H173.346c-38.826,0-70.299,31.474-70.299,70.299v4.055v235.071
				c0,25.198,20.426,45.624,45.624,45.624h214.658c25.198,0,45.624-20.426,45.624-45.624V127.922v-4.055
				C408.952,85.042,377.478,53.567,338.653,53.567z"/>
			<path fill="var(--color-pot-main)" d="M179.286,127.922h229.666v-4.055c0-38.825-31.473-70.299-70.299-70.299H173.346
				c-38.826,0-70.299,31.474-70.299,70.299v4.055h55.959"/>
		</g>
		<g>
			<path class="flame-inner" fill="var(--color-flame-inner)" d="M129.255,439.035c0,0-13.508,8.475-13.508,21.434c0,7.46,6.048,13.508,13.508,13.508
				c7.46,0,13.508-6.048,13.508-13.508C142.762,447.511,129.255,439.035,129.255,439.035z"/>
			<path class="flame-inner" fill="var(--color-flame-inner)" d="M179.953,439.035c0,0-13.508,8.475-13.508,21.434c0,7.46,6.048,13.508,13.508,13.508
				c7.46,0,13.508-6.048,13.508-13.508C193.46,447.511,179.953,439.035,179.953,439.035z"/>
			<path class="flame-inner" fill="var(--color-flame-inner)" d="M230.651,439.035c0,0-13.508,8.475-13.508,21.434c0,7.46,6.048,13.508,13.508,13.508
				s13.508-6.048,13.508-13.508C244.159,447.511,230.651,439.035,230.651,439.035z"/>
			<path class="flame-inner" fill="var(--color-flame-inner)" d="M281.349,439.035c0,0-13.508,8.475-13.508,21.434c0,7.46,6.048,13.508,13.508,13.508
				c7.46,0,13.508-6.048,13.508-13.508C294.857,447.511,281.349,439.035,281.349,439.035z"/>
			<path class="flame-inner" fill="var(--color-flame-inner)" d="M332.046,439.035c0,0-13.508,8.475-13.508,21.434c0,7.46,6.048,13.508,13.508,13.508
				s13.508-6.048,13.508-13.508C345.555,447.511,332.046,439.035,332.046,439.035z"/>
			<path class="flame-inner" fill="var(--color-flame-inner)" d="M382.744,439.035c0,0-13.508,8.475-13.508,21.434c0,7.46,6.048,13.508,13.508,13.508
				s13.508-6.048,13.508-13.508C396.253,447.511,382.744,439.035,382.744,439.035z"/>
		</g>
		<g>
			<path fill="var(--color-pot-handle)" d="M285.909,53.567V37.513c0-16.518-13.391-29.909-29.909-29.909s-29.909,13.391-29.909,29.909v16.054
				H285.909z"/>
			<path fill="var(--color-pot-handle)" d="M103.047,158.341H76.993c-10.995,0-19.909,8.914-19.909,19.909c0,10.996,8.914,19.91,19.909,19.91
				h26.054V158.341z"/>
			<path fill="var(--color-pot-handle)" d="M408.952,158.341h26.054c10.995,0,19.909,8.914,19.909,19.909c0,10.996-8.914,19.91-19.909,19.91
				h-26.054V158.341z"/>
		</g>
		<g>
			<path class="flame-outer" fill="var(--color-flame-outer)" d="M150.366,460.47c0-16.969-16.374-27.438-17.07-27.875l-4.041-2.536l-4.041,2.536
				c-0.697,0.438-17.07,10.906-17.07,27.875c0,11.641,9.47,21.112,21.112,21.112S150.366,472.111,150.366,460.47z M123.351,460.47
				c0-4.731,3.152-8.888,5.907-11.616c2.754,2.726,5.901,6.88,5.901,11.616c0,3.255-2.648,5.904-5.904,5.904
				S123.351,463.725,123.351,460.47z"/>
			<path class="flame-outer" fill="var(--color-flame-outer)" d="M201.064,460.47c0-16.969-16.374-27.438-17.07-27.875l-4.041-2.536l-4.041,2.536
				c-0.697,0.438-17.07,10.906-17.07,27.875c0,11.641,9.47,21.112,21.112,21.112C191.594,481.581,201.064,472.111,201.064,460.47z
				M174.048,460.47c0-4.731,3.152-8.888,5.907-11.616c2.754,2.726,5.901,6.88,5.901,11.616c0,3.255-2.648,5.904-5.904,5.904
				S174.048,463.725,174.048,460.47z"/>
			<path class="flame-outer" fill="var(--color-flame-outer)" d="M251.763,460.47c0-16.969-16.374-27.438-17.07-27.875l-4.041-2.536l-4.041,2.536
				c-0.697,0.438-17.07,10.906-17.07,27.875c0,11.641,9.47,21.112,21.112,21.112C242.292,481.581,251.763,472.111,251.763,460.47z
				M224.746,460.47c0-4.731,3.152-8.888,5.907-11.616c2.754,2.726,5.901,6.88,5.901,11.616c0,3.255-2.648,5.904-5.904,5.904
				S224.746,463.725,224.746,460.47z"/>
			<path class="flame-outer" fill="var(--color-flame-outer)" d="M302.461,460.47c0-16.969-16.374-27.438-17.07-27.875l-4.041-2.536l-4.041,2.536
				c-0.697,0.438-17.07,10.906-17.07,27.875c0,11.641,9.47,21.112,21.112,21.112C292.99,481.581,302.461,472.111,302.461,460.47z
				M275.444,460.47c0-4.731,3.152-8.888,5.907-11.616c2.754,2.726,5.901,6.88,5.901,11.616c0,3.255-2.648,5.904-5.904,5.904
				C278.093,466.373,275.444,463.725,275.444,460.47z"/>
			<path class="flame-outer" fill="var(--color-flame-outer)" d="M353.159,460.47c0-16.969-16.374-27.438-17.07-27.875l-4.041-2.536l-4.041,2.536
				c-0.697,0.438-17.07,10.906-17.07,27.875c0,11.641,9.47,21.112,21.112,21.112S353.159,472.111,353.159,460.47z M326.142,460.47
				c0-4.731,3.152-8.888,5.907-11.616c2.754,2.726,5.901,6.88,5.901,11.616c0,3.255-2.648,5.904-5.904,5.904
				C328.791,466.373,326.142,463.725,326.142,460.47z"/>
			<path class="flame-outer" fill="var(--color-flame-outer)" d="M403.856,460.47c0-16.969-16.374-27.438-17.07-27.875l-4.041-2.536l-4.041,2.536
				c-0.697,0.438-17.07,10.906-17.07,27.875c0,11.641,9.47,21.112,21.112,21.112C394.385,481.581,403.856,472.111,403.856,460.47z
				M376.841,460.47c0-4.731,3.152-8.888,5.907-11.616c2.754,2.726,5.901,6.88,5.901,11.616c0,3.255-2.648,5.904-5.904,5.904
				C379.489,466.373,376.841,463.725,376.841,460.47z"/>
		</g>
		<rect x="103.048" y="496.792" fill="var(--color-black-dark)" width="305.902" height="15.208"/>
		<g>
			<path fill="var(--color-pot-outline)" d="M435.006,150.737h-18.45v-15.211v-11.659c0-42.955-34.947-77.903-77.903-77.903h-45.14v-8.451
				C293.512,16.828,276.684,0,256,0s-37.513,16.828-37.513,37.513v8.451h-45.141c-42.956,0-77.903,34.948-77.903,77.903v11.659v15.211
				H76.993c-15.17,0-27.513,12.343-27.513,27.513c0,15.171,12.343,27.514,27.513,27.514h18.45v157.23
				c0,29.349,23.877,53.228,53.228,53.228h214.658c29.35,0,53.228-23.878,53.228-53.228V205.763h18.45
				c15.17,0,27.513-12.343,27.513-27.514C462.519,163.08,450.176,150.737,435.006,150.737z M233.695,37.513
				c0-12.299,10.006-22.305,22.305-22.305c12.299,0,22.305,10.006,22.305,22.305v8.451h-44.61V37.513z M76.993,190.555
				c-6.785,0-12.305-5.52-12.305-12.306c0-6.786,5.52-12.305,12.305-12.305h18.45v24.61h-18.45V190.555z M401.348,362.993
				c0,20.965-17.055,38.02-38.02,38.02H148.671c-20.965,0-38.02-17.055-38.02-38.02v-157.23v-55.026v-15.211h48.355v-15.208h-48.249
				c0.033-0.599,0.086-1.192,0.136-1.786c0.032-0.387,0.054-0.779,0.094-1.164c0.077-0.746,0.18-1.485,0.283-2.223
				c0.04-0.284,0.068-0.572,0.112-0.856c0.314-2.044,0.728-4.055,1.236-6.03c0.067-0.26,0.148-0.514,0.218-0.773
				c0.196-0.722,0.392-1.443,0.613-2.153c0.104-0.336,0.224-0.664,0.334-0.998c0.206-0.625,0.409-1.251,0.634-1.869
				c0.133-0.364,0.281-0.722,0.421-1.083c0.222-0.575,0.441-1.153,0.679-1.72c0.157-0.375,0.329-0.742,0.495-1.114
				c0.24-0.542,0.479-1.087,0.734-1.622c0.18-0.377,0.374-0.746,0.562-1.119c0.261-0.518,0.519-1.035,0.793-1.545
				c0.202-0.374,0.416-0.741,0.625-1.112c0.28-0.495,0.558-0.992,0.851-1.477c0.223-0.371,0.456-0.734,0.686-1.099
				c0.298-0.474,0.596-0.948,0.906-1.413c0.242-0.362,0.494-0.719,0.743-1.077c0.317-0.454,0.635-0.908,0.963-1.354
				c0.262-0.354,0.53-0.701,0.799-1.049c0.335-0.435,0.671-0.867,1.017-1.293c0.279-0.344,0.566-0.68,0.852-1.018
				c0.353-0.416,0.709-0.83,1.072-1.237c0.296-0.332,0.598-0.656,0.9-0.981c0.37-0.397,0.744-0.792,1.124-1.179
				c0.312-0.318,0.631-0.632,0.949-0.944c0.387-0.378,0.778-0.751,1.174-1.119c0.328-0.306,0.662-0.606,0.998-0.904
				c0.402-0.358,0.809-0.711,1.221-1.058c0.345-0.29,0.691-0.577,1.042-0.861c0.418-0.338,0.84-0.669,1.267-0.997
				c0.359-0.275,0.719-0.546,1.084-0.814c0.434-0.317,0.873-0.628,1.315-0.935c0.372-0.259,0.746-0.515,1.124-0.765
				c0.448-0.297,0.901-0.585,1.357-0.871c0.385-0.24,0.772-0.482,1.163-0.715c0.462-0.276,0.931-0.542,1.401-0.806
				c0.396-0.224,0.794-0.446,1.195-0.661c0.477-0.254,0.959-0.497,1.443-0.739c0.409-0.205,0.816-0.41,1.23-0.606
				c0.49-0.232,0.985-0.451,1.482-0.671c0.419-0.186,0.835-0.372,1.259-0.548c0.505-0.21,1.016-0.406,1.527-0.603
				c0.426-0.164,0.851-0.332,1.281-0.487c0.519-0.188,1.045-0.359,1.571-0.532c0.433-0.144,0.863-0.291,1.3-0.425
				c0.534-0.163,1.076-0.31,1.616-0.46c0.438-0.121,0.872-0.248,1.314-0.36c0.552-0.14,1.111-0.261,1.669-0.386
				c0.439-0.098,0.874-0.204,1.316-0.293c0.577-0.117,1.161-0.212,1.743-0.313c0.431-0.074,0.859-0.157,1.293-0.223
				c0.616-0.093,1.241-0.163,1.863-0.237c0.407-0.049,0.81-0.108,1.22-0.15c0.692-0.069,1.392-0.113,2.092-0.159
				c0.347-0.022,0.689-0.059,1.037-0.076c1.049-0.053,2.105-0.08,3.167-0.08h45.136h75.026h45.14c1.063,0,2.118,0.027,3.167,0.08
				c0.348,0.018,0.69,0.054,1.037,0.076c0.699,0.047,1.399,0.09,2.092,0.159c0.41,0.042,0.812,0.102,1.22,0.15
				c0.623,0.074,1.247,0.145,1.863,0.237c0.434,0.065,0.862,0.148,1.293,0.223c0.582,0.101,1.166,0.196,1.743,0.313
				c0.442,0.089,0.877,0.195,1.316,0.293c0.558,0.126,1.117,0.246,1.669,0.386c0.441,0.112,0.876,0.239,1.314,0.36
				c0.54,0.15,1.082,0.297,1.616,0.46c0.437,0.134,0.867,0.281,1.3,0.425c0.525,0.173,1.052,0.346,1.571,0.532
				c0.43,0.155,0.855,0.322,1.281,0.487c0.511,0.197,1.022,0.393,1.527,0.603c0.423,0.176,0.841,0.363,1.259,0.548
				c0.497,0.22,0.993,0.44,1.482,0.671c0.414,0.196,0.821,0.401,1.23,0.606c0.484,0.242,0.966,0.486,1.443,0.739
				c0.402,0.215,0.799,0.438,1.195,0.661c0.47,0.264,0.939,0.529,1.401,0.806c0.391,0.233,0.777,0.474,1.163,0.715
				c0.455,0.286,0.909,0.574,1.357,0.871c0.378,0.25,0.751,0.507,1.124,0.765c0.442,0.307,0.881,0.616,1.315,0.935
				c0.365,0.268,0.725,0.539,1.084,0.814c0.427,0.327,0.85,0.659,1.267,0.997c0.351,0.283,0.699,0.571,1.042,0.861
				c0.412,0.348,0.818,0.701,1.221,1.058c0.336,0.298,0.668,0.598,0.998,0.904c0.396,0.367,0.787,0.74,1.174,1.119
				c0.319,0.312,0.637,0.625,0.949,0.944c0.38,0.387,0.754,0.782,1.124,1.179c0.303,0.324,0.604,0.65,0.9,0.981
				c0.364,0.406,0.719,0.821,1.072,1.237c0.286,0.338,0.573,0.674,0.852,1.018c0.346,0.426,0.682,0.859,1.017,1.293
				c0.269,0.349,0.537,0.697,0.799,1.049c0.328,0.445,0.646,0.899,0.963,1.354c0.249,0.358,0.501,0.714,0.743,1.077
				c0.31,0.465,0.608,0.939,0.906,1.413c0.23,0.365,0.463,0.728,0.686,1.099c0.292,0.486,0.571,0.982,0.851,1.477
				c0.209,0.37,0.423,0.738,0.625,1.112c0.274,0.51,0.532,1.028,0.793,1.545c0.188,0.373,0.381,0.742,0.562,1.119
				c0.255,0.534,0.494,1.079,0.734,1.622c0.164,0.371,0.337,0.739,0.495,1.114c0.238,0.568,0.457,1.145,0.679,1.72
				c0.14,0.361,0.288,0.719,0.421,1.083c0.224,0.616,0.428,1.244,0.634,1.869c0.109,0.334,0.229,0.662,0.334,0.998
				c0.22,0.711,0.418,1.432,0.613,2.153c0.07,0.259,0.151,0.513,0.218,0.773c0.508,1.975,0.922,3.988,1.236,6.03
				c0.044,0.283,0.071,0.571,0.112,0.856c0.103,0.739,0.206,1.477,0.283,2.223c0.04,0.386,0.061,0.778,0.094,1.164
				c0.051,0.594,0.102,1.187,0.136,1.786h-221.96v15.208h222.062v15.211v55.026L401.348,362.993L401.348,362.993z M435.006,190.555
				h-18.45v-24.61h18.45c6.785,0,12.305,5.519,12.305,12.305S441.791,190.555,435.006,190.555z"/>
		</g>
		<g>
			<path fill="var(--color-pot-highlight)" d="M363.328,385.805H315.31v-15.208h48.017c4.193,0,7.604-3.411,7.604-7.604V158.341h15.208v204.652
				C386.14,375.572,375.907,385.805,363.328,385.805z"/>
			<path fill="var(--color-pot-highlight)" d="M362.857,102.538c-6.141-6.959-14.963-10.951-24.205-10.951H315.31V76.379h23.342
				c13.603,0,26.58,5.866,35.608,16.095L362.857,102.538z"/>
		</g>
	</svg>
</template>
<script lang="ts">
	import { defineComponent } from 'vue';
	export default defineComponent({
		name: 'IconCookingPot',
		props: {
			width: {
				type: String || Number,
				default: '1rem'
			},
			height: {
				type: String || Number,
				default: '1rem'
			},
			stroke: {
				type: String || Number,
				default: ''
			},
			strokeWidth: {
				type: String || Number,
				default: '1'
			},
			fill: {
				type: String || Number,
				default: ''
			},
			background: {
				type: String || Number,
				default: ''
			},
			classImport: {
				type: String,
				default: ''
			}
		},
		computed: {
			tagClasses() {
				return `${this.classImport}`
			}
		}
	})
</script>
<style scoped>
	svg {
		margin-bottom: var(--base-padding);
	}

	.flame-inner,
	.flame-outer {
			transform: rotate(0deg);
			animation-name: flameFlicker;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
	}

	.flame-inner:nth-child(1),
	.flame-outer:nth-child(1) {
		animation-duration: 2000ms;
		animation-delay: 0ms;
		transform-origin: 130px 445px;
	}

	.flame-inner:nth-child(2),
	.flame-outer:nth-child(2) {
		animation-duration: 2000ms;
		animation-delay: 150ms;
		transform-origin: 170px 445px;
	}

	.flame-inner:nth-child(3),
	.flame-outer:nth-child(3) {
		animation-duration: 2000ms;
		animation-delay: 350ms;
		transform-origin: 200px 445px;
	}

	.flame-inner:nth-child(4),
	.flame-outer:nth-child(4) {
		animation-duration: 2000ms;
		animation-delay: 600ms;
		transform-origin: 230px 445px;
	}

	.flame-inner:nth-child(5),
	.flame-outer:nth-child(5) {
		animation-duration: 2000ms;
		animation-delay: 275ms;
		transform-origin: 260px 445px;
	}

	.flame-inner:nth-child(6),
	.flame-outer:nth-child(6) {
		animation-duration: 2000ms;
		animation-delay: 525ms;
		transform-origin: 290px 445px;
	}

	@keyframes flameFlicker {
		0% {
			transform: rotate(0deg);
		}
		1% {
			transform: rotate(5deg);
		}
		5% {
			transform: rotate(-5deg);
		}
		8% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>