.inner-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.input-group-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	margin-bottom: var(--base-padding);
	width: 25rem;
	border: 2px solid var(--color-white-lightish);
}

h4 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: var(--base-padding);
	text-align: center;
	color: var(--color-black-dark);
}

label {
	background-color: var(--color-white-lightish);
	width: 5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	background-color: var(--color-white-lighter);
	height: 3.5rem;
	padding: 0.25rem var(--base-padding);
	flex-grow: 1;
	color: var(--color-black-darkest);
	outline: none;
}

input:focus,
input:focus-within,
input:focus-visible,
input:active,
input:target {
	border-radius: 0px;
	border: 1px solid var(--color-white-middle);
}

button {
	width: 100%;
	max-width: 25rem;
	height: auto;
	display: block;
	background-color: var(--color-btn-danger);
	color: var(--color-white-lighter);
	padding: var(--base-padding) var(--base-padding);
	margin-bottom: var(--base-padding);
}

button:hover {
	background-color: var(--color-btn-danger-hover);
}

span {
	width: 100%;
	max-width: 25rem;
	height: auto;
	display: block;
	text-align: center;
	color: var(--color-btn-danger);
	padding: calc(var(--base-padding) * 0.25) var(--base-padding);
}