<template>
	<div class="inner-layout offset">
		<div class="input-group-wrapper">
			<label for="meal-input">
				<IconChicken width="calc(var(--base-padding) * 3.25)" height="calc(var(--base-padding) * 3.25)"></IconChicken>
			</label>
			<input id="meal-input" placeholder="What would you like to eat?"/>
		</div>
		<h4>or</h4>
		<div class="input-group-wrapper">
			<label for="rest-input">
				<IconRestaurant width="calc(var(--base-padding) * 2.5)" height="calc(var(--base-padding) * 2.5)"></IconRestaurant>
			</label>
			<input id="rest-input" placeholder="Where would you like to eat?"/>
		</div>
		<button>Search it, I am hungry!</button>
		<span>
			Error message!
		</span>
	</div>
</template>
<script lang="ts" src="./SearchPage.ts"></script>
<style scoped src="./SearchPage.css"></style>