<template>
  <Transition name="bounce">
    <aside :class="{'opened': menuOpened}">
      <router-link to="/" @click="$emit('update:menuOpened', false)">Meal Wheel</router-link>
      <router-link to="/search" @click="$emit('update:menuOpened', false)">Search</router-link>
      <router-link to="/restaurants" @click="$emit('update:menuOpened', false)">Restaurants</router-link>
    </aside>
  </Transition>
</template>
<script lang="ts" src="./NavBar.ts"></script>
<style scoped src="./NavBar.css"></style>
