aside {
	position: absolute;
	pointer-events: none;
	left: 0;
	right: 0;
	top: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - var(--header-h) - var(--footer-h));
	background-color: var(--color-white-lighter);
	transform: translateY(0%);
	opacity: 0;
	transition: transform var(--menu-slide-time) ease-in-out,
	opacity var(--menu-slide-time) ease-in-out;
	z-index: 95;
}

aside.opened {
	pointer-events: initial;
	opacity: 1;
	transform: translateY(-100%) translateY(calc(var(--header-h) * -1));
}

a {
	margin-bottom: 1.5rem;
	letter-spacing: 5px;
}

a:hover {
	letter-spacing: 6px;
}

@keyframes SlideInOut {
	0% {
		transform: translateY(0%);
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: translateY(-100%) translateY(calc(var(--header-h) * -1));
	}
}