
import RestaurantDetail from '../RestaurantDetail/RestaurantDetail';

<template>
  <div class="inner-layout offset">
    <BackLink whereTo="SearchPage"></BackLink>
    <div class="searched-wrapper">
      <div class="searched-inner">
        <p>Searched:</p>
        <p class="searched-result">asldfjlasjdfljasldfjlasjdlfj alsdlfjasldfjlasjdflasldfnlasndflnasdklfnlasndflnasdlfnlask</p>
      </div>
    </div>
    <ul>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
      <li>
        <h4>Husinec</h4>
        <p>...<span>dršťková</span> polévka ...</p>
        <div class="forward-wrapper">
          <p>
            <router-link :to="{ name: 'RestaurantDetail', params: { id: 0 }}">Open Daily Menu</router-link>
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>
<script lang="ts" src="./SearchResult.ts"></script>
<style scoped src="./SearchResult.css"></style>