.inner-layout {
	position: relative;
	padding-top: 0;
}

.searched-wrapper {
	display: block;
	width: 100%;
	height: auto;
	padding: calc(var(--base-padding) + var(--header-h)) calc(var(--base-padding) * 2) var(--base-padding);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--color-white-lightest);
}

.searched-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: auto;
	max-width: 25rem;
	margin: 0 auto;
}

.searched-inner p:first-child {
	padding-right: var(--base-padding);
	font-weight: 400;
}

.searched-result {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	flex-grow: 1;
	font-style: italic;
}

ul {
	width: 100%;
	height: auto;
	max-width: 25rem;
	margin: 0 auto;
}

li {
	margin-bottom: var(--base-padding);
}

span {
	font-weight: 400;
	color: var(--color-btn-danger);
}

.forward-wrapper {
	width: 100%;
	height: auto;
	border-top: 2px solid var(--color-white-light);
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.forward-wrapper p {
	padding: 0px calc(var(--base-padding) * 0.5) 2px;
	background-color: var(--color-white-light);
}

.forward-wrapper p a {
	color: var(--color-black-dark);
	font-size: 0.85rem;
}