<template>
	<header>
		<h3>Meal</h3>
		<div class="logo-wrapper">
			<router-link to="/" @click="$emit('update:isOpened', false)">
				<div class="logo">
					<IconKnifeAndFork width="calc((var(--header-h) * 2) * 0.45)" height="calc((var(--header-h) * 2) * 0.45)" fill="var(--color-white-pure)" stroke="var(--color-black-darkest)" strokeWidth="3px"></IconKnifeAndFork>
				</div>
			</router-link>
		</div>
		<h3>Wheel</h3>
	</header>
</template>
<script lang="ts" src="./AppHeader.ts"></script>
<style scoped src="./AppHeader.css"></style>