header {
	width: 100%;
	height: var(--header-h);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--color-white-middle);
	display: block;
	z-index: 100;
}

h3 {
	text-transform: uppercase;
	color: var(--color-black-darkest);
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	letter-spacing: 5px;
}

h3:first-child {
	right: calc(50% + var(--header-h) + 1rem);
	left: auto;
	transform-origin: right center;
}

h3:last-child {
	left: calc(50% + var(--header-h) + 1rem);
	right: auto;
	transform-origin: left center;
}

.logo-wrapper {
	width: calc(var(--header-h) * 2);
	height: calc(var(--header-h) *2);
	background-color: var(--color-white-middle);
	border-bottom-left-radius: var(--header-h);
	border-bottom-right-radius: var(--header-h);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	cursor: pointer;
}

.logo {
	width: calc((var(--header-h) * 2) * 0.7);
	height: calc((var(--header-h) * 2) * 0.7);
	border-radius: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.5rem solid var(--color-border);
	background: conic-gradient(
		var(--color-wheel-yellow) 0deg 15deg,
		var(--color-wheel-red) 15deg 45deg,
		var(--color-wheel-blue) 45deg 75deg,
		var(--color-wheel-green) 75deg 105deg,
		var(--color-wheel-yellow) 105deg 135deg,
		var(--color-wheel-red) 135deg 165deg,
		var(--color-wheel-blue) 165deg 195deg,
		var(--color-wheel-green) 195deg 225deg,
		var(--color-wheel-yellow) 225deg 255deg,
		var(--color-wheel-red) 255deg 285deg,
		var(--color-wheel-blue) 285deg 315deg,
		var(--color-wheel-green) 315deg 345deg,
		var(--color-wheel-yellow) 345deg 360deg);
	display: flex;
	justify-content: center;
	align-items: center;
}