.inner-layout {
	position: relative;
}

h2 {
	text-align: center;
	font-weight: 400;
}

.link {
	text-align: center;
	margin-bottom: calc(var(--base-padding) * 2);
}

h4 {
	text-align: center;
	font-weight: 400;
	margin-bottom: var(--base-padding);
}

ul {
	width: 100%;
	max-width: 27rem;
	margin: 0 auto calc(var(--base-padding) * 2) auto;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: calc(var(--base-padding) * 0.5);
}

.price {
	white-space: nowrap;
	padding-left: var(--base-padding);
}