<template>
	<div class="inner-layout offset">
		<BackLink whereTo="RestaurantList"></BackLink>
		<h2>{{defineRestaurant(restaurantId).name}}</h2>
		<p class="link"><a :href="defineRestaurant(restaurantId).link" target="_blank" rel="noreferrer noopener">Menu Online <IconExternalLink></IconExternalLink></a></p>
		<h4>Soups</h4>
		<ul>
			<li v-for="(soup, id) in defineRestaurant(restaurantId).soups" :key="id">
				<p>{{soup.name}}</p>
				<p class="price">{{soup.price}}</p>
			</li>
		</ul>
		<h4>Main Courses</h4>
		<ul>
			<li v-for="(meal, id) in defineRestaurant(restaurantId).mainCourses" :key="id">
				<p>{{meal.name}}</p>
				<p class="price">{{meal.price}}</p>
			</li>
		</ul>
		<h4>Salads</h4>
		<ul>
			<li v-for="(salad, id) in defineRestaurant(restaurantId).salads" :key="id">
				<p>{{salad.name}}</p>
				<p class="price">{{salad.price}}</p>
			</li>
		</ul>
		<h4>Dezerts</h4>
		<ul>
			<li v-for="(dezert, id) in defineRestaurant(restaurantId).deserts" :key="id">
				<p>{{dezert.name}}</p>
				<p class="price">{{dezert.price}}</p>
			</li>
		</ul>
	</div>
</template>
<script lang="ts" src="./RestaurantDetail.ts"></script>
<style scoped src="./RestaurantDetail.css"></style>