<template>
  <AppHeader @update:isOpened="isOpened"></AppHeader>
  <MainLayout></MainLayout>
  <AppFooter v-model:isOpened="isOpened"></AppFooter>
  <NavBar v-model:menuOpened="isOpened"></NavBar>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppHeader from './components/AppHeader/AppHeader.vue';
import AppFooter from './components/AppFooter/AppFooter.vue';
import MainLayout from './components/MainLayout/MainLayout.vue';
import NavBar from './components/NavBar/NavBar.vue';

export default defineComponent({
  name: 'App',
  components: { AppHeader, AppFooter, MainLayout, NavBar },
  data() {
    return {
      isOpened: false,
    };
  },
});
</script>

<style src="./styles/style.css"></style>
