<template>
	<p>
		<router-link :to="{name: 'RestaurantDetail', params: { id: itemId }}">{{itemName}}</router-link>
	</p>
</template>
<script lang="ts" src="./WheelListItem.ts"></script>
<style scoped src="./WheelListItem.css"></style>
