<template>
	<footer>
		<div class="menu-wrapper">
			<button class="menu-button" @click="$emit('update:isOpened', !isOpened)" :class="{'opened': isOpened}">
				<IconBurger width="calc((var(--header-h) * 2) * 0.4)" height="calc((var(--header-h) * 2) * 0.4)" stroke="var(--color-black-darkest)" strokeWidth="15px"></IconBurger>
			</button>
		</div>
	</footer>
</template>
<script lang="ts" src="./AppFooter.ts"></script>
<style scoped src="./AppFooter.css"></style>