footer {
	width: 100%;
	height: var(--header-h);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--color-white-middle);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.menu-wrapper {
	width: calc(var(--header-h) * 2);
	height: calc(var(--header-h) *2);
	background-color: var(--color-white-middle);
	border-top-left-radius: var(--header-h);
	border-top-right-radius: var(--header-h);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
}

button {
	width: calc((var(--header-h) * 2) * 0.65);
	height: calc((var(--header-h) * 2) * 0.65);
	border-radius: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

button:before,
button:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75%;
	height: 0.3rem;
	background-color: transparent;
	z-index: 10;
	border-radius: 0.15rem;
	transition: background-color 500ms ease-in-out;
}

button:before {
	transform: translate(-50%, -50%) rotate(45deg);
}

button:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

button.opened:before,
button.opened:after {
	background-color: var(--color-menu-opened);
}