<template>
	<div class="inner-layout offset">
		<ul>
			<li v-for="(restaurant, id) in dailyMenusData.restaurants" :key="id">
				<RestaurantListItem :restaurantName="restaurant.name" :restaurantId="id"></RestaurantListItem>
			</li>
		</ul>
	</div>
</template>
<script lang="ts" src="./RestaurantList.ts"></script>
<style scoped src="./RestaurantList.css"></style>